<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.HomeworkQuizMapper">

    <resultMap id="homeworkQuizListMap" type="com.thoughtworks.twars.bean.HomeworkQuiz">
        <id property="id" column="id"></id>
        <result column="description" property="description"></result>
        <result column="evaluateScript" property="evaluateScript"></result>
        <result column="templateRepository" property="templateRepository"></result>
        <result column="sectionId" property="sectionId"></result>
        <result column="makerId" property="makerId"></result>
        <result column="createTime" property="createTime"></result>
        <result column="homeworkName" property="homeworkName"></result>
    </resultMap>

    <select id="findBySectionId" resultMap="homeworkQuizListMap">
        select a.* from homeworkQuiz a, sectionQuiz b where a.id = b.quizId AND b.sectionId = #{sectionId};
    </select>

    <select id="findById" resultType="com.thoughtworks.twars.bean.HomeworkQuiz">
        SELECT * FROM homeworkQuiz WHERE id = #{id};
    </select>

    <select id="findAllHomeworkQuizzes" resultMap="homeworkQuizListMap">
        SELECT * FROM homeworkQuiz;
    </select>

    <insert id="insertHomeworkQuiz" parameterType="com.thoughtworks.twars.bean.HomeworkQuiz" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO homeworkQuiz(description, evaluateScript, templateRepository,makerId,createTime,homeworkName) VALUES(#{description}, #{evaluateScript}, #{templateRepository},#{makerId},#{createTime},#{homeworkName});
    </insert>

</mapper>
