<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.HomeworkQuizMapper">

    <resultMap id="homeworkQuizListMap" type="com.thoughtworks.twars.bean.HomeworkQuiz">
        <id property="id" column="id"></id>
        <result column="description" property="description"></result>
        <result column="evaluateScript" property="evaluateScript"></result>
        <result column="templateRepository" property="templateRepository"></result>
        <result column="sectionId" property="sectionId"></result>
        <result column="makerId" property="makerId"></result>
        <result column="createTime" property="createTime"></result>
        <result column="homeworkName" property="homeworkName"></result>
        <result column="answerPath" property="answerPath"></result>
        <result column="stackId" property="stackId"></result>
    </resultMap>

    <select id="findBySectionId" resultMap="homeworkQuizListMap">
        SELECT a.* FROM homeworkQuiz a, sectionQuiz b WHERE a.id = b.quizId AND b.sectionId = #{sectionId};
    </select>

    <select id="findById" resultType="com.thoughtworks.twars.bean.HomeworkQuiz">
        SELECT * FROM homeworkQuiz WHERE id = #{id};
    </select>

    <insert id="insertHomeworkQuiz" parameterType="com.thoughtworks.twars.bean.HomeworkQuiz" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO homeworkQuiz(description, evaluateScript,
        templateRepository,makerId,createTime,homeworkName,answerPath,stackId,tag) VALUES(#{description},
        #{evaluateScript},
        #{templateRepository},#{makerId},#{createTime},#{homeworkName},#{answerPath},#{stackId},#{tag});
    </insert>

    <select id="findHomeworkQuizzes" resultMap="homeworkQuizListMap">
        SELECT * FROM homeworkQuiz h INNER JOIN homeworkQuizOperation o ON h.tag = o.homeworkQuizId
        WHERE o.id IN
        (SELECT MAX(id) FROM homeworkQuizOperation GROUP BY homeworkQuizId)
        AND o.operationType != "DELETE"
        <if test="homeworkName != null">
            AND h.homeworkName LIKE concat("%",#{homeworkName},"%")
        </if>
        <if test="stackId != null">
            AND h.stackId = #{stackId}
        </if>
        LIMIT #{newPage},#{pageSize};
    </select>

    <update id="updateTag" parameterType="java.lang.Integer">
        update homeworkQuiz set tag = #{id} where id = #{id};
    </update>

</mapper>

