<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.twars.mapper.PaperOperationMapper">

    <insert id="insertPaperOperation" parameterType="com.thoughtworks.twars.bean.PaperOperation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO paperOperation(operationType, operatorId,operatingTime,paperId)
        VALUES (#{operationType}, #{operatorId},#{operatingTime},#{paperId});
    </insert>

</mapper>
