<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.QuizItemMapper">

    <resultMap id="quizItemListMap" type="com.thoughtworks.twars.bean.QuizItem">
        <id property="id" column="id"></id>
        <result property="initializedBox" column="initializedBox"></result>
        <result property="questionZh" column="questionZh"></result>
        <result property="descriptionZh" column="descriptionZh"></result>
        <result property="chartPath" column="chartPath"></result>
    </resultMap>

    <select id="getAllQuizItems" resultType="com.thoughtworks.twars.bean.QuizItem">
        SELECT * FROM quizItem;
    </select>

    <insert id="insertQuizItem" parameterType="com.thoughtworks.twars.bean.QuizItem" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        quizItem(initializedBox,stepsString,count,questionZh,stepsLength,answer,maxUpdateTimes,descriptionZh,chartPath,infoPath)
        VALUES
        (#{initializedBox},#{stepsString},#{count},#{questionZh},#{stepsLength},#{answer},#{maxUpdateTimes},#{descriptionZh},#{chartPath},#{infoPath});
    </insert>

    <select id="getQuizItemById" resultType="com.thoughtworks.twars.bean.QuizItem">
        SELECT * FROM quizItem WHERE id = #{id};
    </select>

    <select id="getEasyItems" resultMap="quizItemListMap" flushCache="true" useCache="false">
        SELECT * FROM quizItem WHERE count BETWEEN 21 AND 25 ORDER BY rand() LIMIT #{easyCount};
    </select>

    <select id="getNormalItems" resultMap="quizItemListMap" flushCache="true" useCache="false">
        SELECT * FROM quizItem WHERE count BETWEEN 26 AND 33 ORDER BY rand() LIMIT #{normalCount};
    </select>

    <select id="getHardItems" resultMap="quizItemListMap" flushCache="true" useCache="false">
        SELECT * FROM quizItem WHERE count BETWEEN 34 AND 50 ORDER BY rand() LIMIT #{hardCount};
    </select>

    <select id="getExampleItems" resultMap="quizItemListMap">
        <![CDATA[
            SELECT * FROM quizItem WHERE count  <  15 LIMIT #{exampleCount};
        ]]>
    </select>

    <select id="getExamples" resultMap="quizItemListMap" flushCache="true" useCache="false">
        SELECT * FROM quizItem ORDER BY count LIMIT 2;
    </select>

</mapper>