<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.UserMapper">

    <resultMap id="userDetailMap" type="com.thoughtworks.twars.bean.UserDetail">
        <id property="userId" column="userId"></id>
        <result column="school" property="school"></result>
        <result column="name" property="name"></result>
        <result column="major" property="major"></result>
        <result column="degree" property="degree"></result>
        <result column="gender" property="gender"></result>
        <result column="schoolProvince" property="schoolProvince"></result>
        <result column="schoolCity" property="schoolCity"></result>
        <result column="entranceYear" property="entranceYear"></result>
    </resultMap>

    <resultMap id="userMap" type="com.thoughtworks.twars.bean.User">
        <id property="id" column="id"></id>
        <result column="email" property="email"></result>
        <result column="mobilePhone" property="mobilePhone"></result>
        <result column="userName" property="userName"></result>
    </resultMap>

    <resultMap id="userAuthorityMap" type="com.thoughtworks.twars.bean.User">
        <id property="id" column="id"></id>
        <result column="email" property="email"></result>
        <result column="mobilePhone" property="mobilePhone"></result>
        <result column="userName" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="role" property="role"></result>
    </resultMap>

    <resultMap id="userInformationMap" type="java.util.Map">
        <id property="userId" column="userId"></id>
        <result column="school" property="school"></result>
        <result column="name" property="name"></result>
        <result column="major" property="major"></result>
        <result column="degree" property="degree"></result>
        <result column="gender" property="gender"></result>
        <result column="schoolProvince" property="schoolProvince"></result>
        <result column="schoolCity" property="schoolCity"></result>
        <result column="entranceYear" property="entranceYear"></result>
        <result column="email" property="email"></result>
        <result column="mobilePhone" property="mobilePhone"></result>

    </resultMap>

    <select id="getUserById" resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="getUserByEmail" resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE binary email = #{email} LIMIT 1
    </select>

    <select id="getUserByMobilePhone" resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE mobilePhone = #{mobilePhone} LIMIT 1
    </select>

    <select id="getUserByEmailAndPassWord" parameterType="com.thoughtworks.twars.bean.User"
            resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE email regexp binary #{email} AND password = MD5(#{password}) LIMIT 1
    </select>

    <select id="getUserByMobilePhoneAndPassWord" parameterType="com.thoughtworks.twars.bean.User"
            resultType="com.thoughtworks.twars.bean.User">
        SELECT * FROM users WHERE mobilePhone = #{email} AND password = MD5(#{password}) LIMIT 1
    </select>

    <insert id="insertUser" parameterType="com.thoughtworks.twars.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(email, mobilePhone, password, userName,role,createDate)
        VALUES (#{email}, #{mobilePhone}, MD5(#{password}),#{userName},#{role},UNIX_TIMESTAMP())
    </insert>

    <insert id="updateUserDetail" parameterType="com.thoughtworks.twars.bean.UserDetail" useGeneratedKeys="true"
            keyProperty="userId">
        REPLACE INTO userDetail(userId,name,major,school,gender,degree,schoolProvince,schoolCity,entranceYear)
        values(#{userId}, #{name},#{major}, #{school}, #{gender},
        #{degree},#{schoolProvince},#{schoolCity},#{entranceYear})
    </insert>

    <select id="getUserDetailById" resultType="com.thoughtworks.twars.bean.UserDetail">
        SELECT * FROM userDetail WHERE userId = #{userId};
    </select>

    <update id="updatePassword">
        UPDATE users SET password=MD5(#{password}) WHERE id = #{id} AND password=MD5(#{oldPassword});
    </update>

    <update id="resetPassword" parameterType="com.thoughtworks.twars.bean.User">
        UPDATE users SET password=MD5(#{password}) WHERE binary email= #{email};
    </update>

    <select id="findUserDetailsByUserIds" resultMap="userDetailMap">
        SELECT * FROM userDetail WHERE userId IN
        <foreach item="userIds" index="index" collection="list" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </select>

    <select id="findUsersByUserIds" resultMap="userMap">
        SELECT * FROM users WHERE id IN
        <foreach item="userIds" index="index" collection="list" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </select>

    <select id="findProgramsById" resultType="java.lang.Integer">
        SELECT programId FROM userProgram WHERE userId = #{id}
    </select>

    <select id="findUsersByInformation" resultMap="userInformationMap">
        SELECT userDetail.* ,users.email,users.mobilePhone
        FROM users INNER JOIN userDetail JOIN userPrivilege
        ON
        users.id = userDetail.userId
        AND
        users.id = userPrivilege.userId
        <where>
            <if test="param1 != null">
                users.email LIKE concat("%",#{param1},"%")
            </if>
            <if test="param2 != null">
                AND userPrivilege.privilege = #{param2}
            </if>
        </where>
        LIMIT #{param3},#{param4};
    </select>

    <insert id="insertStudentMentor" parameterType="java.lang.Integer">
        INSERT INTO studentMentor VALUES(#{param1},#{param2});
    </insert>

    <insert id="insertUserProgram" parameterType="java.lang.Integer">
        INSERT INTO userProgram VALUES(#{param1},#{param2});
    </insert>

    <select id="findMentorIdsByStudentId" resultType="java.lang.Integer">
        SELECT mentorId FROM studentMentor WHERE studentId = #{id};
    </select>

    <select id="findStudentIdsByMentorId" resultType="java.lang.Integer">
        SELECT studentId FROM studentMentor WHERE mentorId = #{id};
    </select>

    <delete id="deleteUserByEmail" parameterType="java.lang.String">
        DELETE FROM users WHERE email = #{email};
    </delete>
    <select id="getUserAuthority" resultMap="userAuthorityMap">
        SELECT * FROM users;
    </select>

</mapper>



