<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.UserMapper">

    <resultMap id="userDetailMap" type="com.thoughtworks.twars.bean.UserDetail">
        <id property="userId" column="userId"></id>
        <result column="school" property="school"></result>
        <result column="name" property="name"></result>
        <result column="major" property="major"></result>
        <result column="degree" property="degree"></result>
        <result column="gender" property="gender"></result>
        <result column="schoolProvince" property="schoolProvince"></result>
        <result column="schoolCity" property="schoolCity"></result>
        <result column="entranceYear" property="entranceYear"></result>
    </resultMap>

    <resultMap id="userMap" type="com.thoughtworks.twars.bean.User">
        <id property="id" column="id"></id>
        <result column="email" property="email"></result>
        <result column="mobilePhone" property="mobilePhone"></result>
        <result column="userName" property="userName"></result>
        <collection property="roles" column="id" javaType="java.util.ArrayList" ofType="java.lang.Integer"
                    select="getUserRoleByUserId"/>
    </resultMap>


    <resultMap id="userInformationMap" type="java.util.Map">
        <id property="userId" column="userId"></id>
        <result column="school" property="school"></result>
        <result column="name" property="name"></result>
        <result column="major" property="major"></result>
        <result column="degree" property="degree"></result>
        <result column="gender" property="gender"></result>
        <result column="schoolProvince" property="schoolProvince"></result>
        <result column="schoolCity" property="schoolCity"></result>
        <result column="entranceYear" property="entranceYear"></result>
        <result column="email" property="email"></result>
        <result column="mobilePhone" property="mobilePhone"></result>

    </resultMap>

    <select id="findProgramsById" resultType="java.lang.Integer">
        SELECT programId FROM userProgram WHERE userId = #{id}
    </select>

    <select id="findUsersByInformation" resultMap="userInformationMap">
        SELECT userDetail.* ,users.email,users.mobilePhone
        FROM users INNER JOIN userDetail JOIN userPrivilege
        ON
        users.id = userDetail.userId
        AND
        users.id = userPrivilege.userId
        <where>
            <if test="email != null">
                users.email LIKE concat("%",#{email},"%")
            </if>
            <if test="privilege != null">
                AND userPrivilege.privilege = #{privilege}
            </if>
        </where>
        LIMIT #{page},#{pageSize};
    </select>

    <insert id="insertStudentMentor" parameterType="java.lang.Integer">
        INSERT INTO studentMentor VALUES(#{mentorId},#{studentId});
    </insert>

    <insert id="insertUserProgram" parameterType="java.lang.Integer">
        INSERT INTO userProgram VALUES(#{userId},#{programId});
    </insert>

    <select id="findMentorIdsByStudentId" resultType="java.lang.Integer">
        SELECT mentorId FROM studentMentor WHERE studentId = #{id};
    </select>

    <select id="findStudentIdsByMentorId" resultType="java.lang.Integer">
        SELECT studentId FROM studentMentor WHERE mentorId = #{id};
    </select>

    <delete id="deleteUserByEmail" parameterType="java.lang.String">
        DELETE FROM users WHERE email = #{email};
    </delete>

    <!--<select id="groupUserByEmail" resultType="com.thoughtworks.twars.bean.User">-->
    <!--SELECT email,userName,mobilePhone,password-->
    <!--FROM users-->
    <!--<where>-->
    <!--<if test="email != null">-->
    <!--email LIKE concat("%",#{email},"%")-->
    <!--</if>-->
    <!--<if test="mobilePhone != null">-->
    <!--AND mobilePhone = #{mobilePhone}-->
    <!--</if>-->
    <!---->
    <!--</where>-->
    <!--GROUP BY email,userName,mobilePhone,password,createDate-->
    <!--ORDER BY createDate DESC-->
    <!--LIMIT #{page},#{pageSize};-->
    <!--</select>-->

    <!--<select id="getUserRolesByEmail" resultType="java.lang.Integer" parameterType="java.lang.String">-->
    <!--SELECT role FROM users WHERE email = #{email} ;-->
    <!--</select>-->

    <select id="getUserCount" resultType="java.lang.Integer">
        SELECT count(*) FROM users
        <where>
            <if test="email != null">
                email LIKE concat("%",#{email},"%")
            </if>
            <if test="mobilePhone != null">
                AND mobilePhone = #{mobilePhone}
            </if>
        </where>
    </select>

    <select id="getAll" resultMap="userMap">
        SELECT * FROM users
        <where>
            <if test="email != null">
                email LIKE concat("%",#{email},"%")
            </if>
            <if test="mobilePhone != null">
                AND mobilePhone = #{mobilePhone}
            </if>
        </where>
        LIMIT #{page} ,#{pageSize};
    </select>

    <select id="getUserRoleByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT role FROM userRole WHERE userId= #{id};
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap ="userMap">
        SELECT * FROM users WHERE id = #{id};
    </select>
</mapper>



